[Unit]
Description=Celeste Bot runtime
After=multi-user.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/TomNooksDebtorsPrison/src
ExecStart=/home/ubuntu/.pyenv/shims/python3 /home/ubuntu/TomNooksDebtorsPrison/src/celeste_bot.py  # Replace with the actual path
Restart=on-failure

[Install]
WantedBy=multi-user.target